extends layout  

block content
    h1 Lista Incidencia
    each incidencia in incidencias
        div(style="border:1px solid #000;")
            label Nombre: 
            span &nbsp; #{incidencia.nombre} #{i}
            br
            label DNI:
            span &nbsp; #{incidencia.dni}
            br
            label Tipo:
            span &nbsp; #{incidencia.tipo}
            br
            label Urgencia:
            span &nbsp; #{incidencia.urgencia}
            br
            label Descripcion:
            span &nbsp; #{incidencia.descripcion}
        br