.foto
{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 40%;
    width: 90%;
    text-align:center;
}
.descripcio
{
    position: absolute;
    top: 40%;
    left: 5%;
    height: 20%;
    width: 50%;
    text-align:center;
}
