body {
    margin: auto;
    font-family: serif;
}

.dhead {
    position: inherit;
    color: white;
    width: 100%;
    height: 25px;
    text-align: center;
}

.dt {
    position: inherit;
    color: white;
    width: 25%;
    height: 25px;
    text-align: center;
    display: inline-block;
}

table {
    margin-top: 20px;
}

.d1 {
    background-color: grey;
}

.d2 {
    background-color: black;
}
@media (max-width:500px) {
    .d3 {
        display: none;
    }

    .dt {
        width: 100%
    }
}
