#footer
{
    position: absolute;
    top: 75%;
    left: 1%;
    height: 24%;
    width: 98%;
    background-color: snow;
    border: 2px solid black; 
}
#navbar{
    z-index: 1;
}
.foto
{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 20%;
    width: 50%;
    text-align:center;
}
.descripcio
{
    position: absolute;
    top: 40%;
    left: 5%;
    height: 20%;
    width: 50%;
    text-align:center;
}
.footerColumn
{
    float:left;
    background-color: skyblue;
    height: 100%;
    width: 20%;
    color:black;
    text-align:center;
}
.footerColumn2
{
    float:left;
    height: 100%;
    width: 60%;
    color:black;
    text-align:right;
}
