.divGrey
{
    background-color: grey;
    color: white;
    text-align: center;
    font-weight:bold;
}
.divBlack
{
    background-color: black;
    color: white;
    text-align: center;
    font-weight:bold;
}
.marginTop10
{
  margin-top: 10px;
}
